.footer{
  &__container{
    background-color: $grey-90;
    color: white;
    padding: 15px;
  }

  &__col{
    width: 200px;

    .logo{
      filter: invert(96%) sepia(100%) saturate(12%) hue-rotate(237deg) brightness(103%) contrast(103%);
      width: 60%;
      margin: 10px 0;
    }

    .link{
      color: white;
      font-size: 1.6rem;
      display: flex;
      margin-top: 10px;
      font-weight: 300;

      &.-strong{
        font-weight: 500;
      }

      .fa-solid{
        margin-right: 10px;
        width: 20px;
        height: 20px;
        @include flex-center;
      }
    }
  }
}