@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin box-shadow{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

@mixin linear-gradient-primary{
  background-image: linear-gradient(to right, rgba(255,121,218,1), rgba(147,86,220,1), rgb(255, 148, 225), rgba(147,86,220,1));
}

@mixin heart-animation{
  .heart{
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;

    &:hover{
      .fa-regular{
        transform: scale(0);
        transition: 0.3s;
      }
    }

    .fa-heart{
      position: absolute;
      left: 0;
      top: 0;
      font-size: 2.5rem;
      cursor: pointer;
      z-index: 0;

      .fa-regular{
        transition: 0.3s;
      }

      &.fa-solid{
        color: transparent;
        background-color: transparent;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;

        &:hover{
          @include linear-gradient-primary;
          opacity: 1;
          transform: scale(1.3);
          background-clip: text;
          background-size: 300% 100%;
          transition: all 0.3s;
        }
      }
    }
  }
}